#Ignore files used for training
scraper/data/
checkpoints/
__pycache__/
clip/__pycache__/
clip/clip.ipynb
.vscode/
vit/
utils/
scraper/
prototypical_net/
movielm/
dino/
train.py
README.md
.gitignore
.dockerignore